# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv/

# Backup & Secret Report Safety Rules
*Backup*
*.json.backup
TBN_*_Backup.*
*.pdf
*.csv
*.zip
*.xlsx
!public/favicon.svg
